.container{
    padding-top: 10px;
    padding: 2rem;
    /* background-color: #F8F0FC;  */
    border-radius: 8px;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

h1 {
    color: #4B0082; 
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30px;
}
  
  .form-label {
    font-weight: bold;
    color: #4B0082; 
  }
  
  .form-control,
  .form-select {
    background-color: #E6E6FA; 
    border: 1px solid #D8BFD8; 
    color: #4B0082;
    border-radius: 8px;
    padding: 0.75rem;
    transition: border-color 0.3s;
  }
  
  .form-control:focus,
  .form-select:focus {
    border-color: #9370DB; 
    outline: none;
    box-shadow: 0 0 5px rgba(147, 112, 219, 0.5);
  }
  
  .btn-info {
    background-color: #9370DB; 
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .btn-info:hover {
    background-color: #4B0082; 
    box-shadow: 0 4px 8px rgba(75, 0, 130, 0.3);
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 1rem;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .btn-info {
      width: 100%;
      text-align: center;
    }
  }
  