h1 {
    color: #4B0082; 
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30px;
}

.map-container {
  padding-left: 8rem;
  padding-right: 8rem;
  /*background-color: #F8F0FC; */
  border-radius: 8px;
  text-align: center;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.map-container h2 {
  color: #4B0082; 
  margin-bottom: 1rem;
}
