<div>
    <footer>
        <div class="footer-content">
          <div class="footer-about">
            <h3>Nosotros</h3>
            <p>Creando conexiones significativas a través de la tecnología. Únase a nosotros para explorar nuevas oportunidades y hacer de la web un lugar mejor.</p>
          </div>
          
          <div class="footer-links">
            <h4>Links</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="https://app.daily.dev/onboarding?ua=true">Nosotros</a></li>
              <li><a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/">Contactanos</a></li>
            </ul>
          </div>
      
          <div class="footer-social">
            <h4>Siguenos</h4>
            <div class="social-icons">
              <a href="https://www.facebook.com" target="_blank">Facebook</a>
              <a href="https://www.twitter.com" target="_blank">Twitter</a>
              <a href="https://www.instagram.com" target="_blank">Instagram</a>
            </div>
          </div>
        </div>
        
        <div class="footer-bottom">
          <p>© 2024 Nathaly Daza. Todos los derechos reservados</p>
        </div>
      </footer>      
</div>
